name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    - cron: "0 0 * * *" # Run at midnight UTC every day
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      AMO_JWT_ISSUER: "${{ secrets.AMO_JWT_ISSUER }}"
      AMO_JWT_SECRET: "${{ secrets.AMO_JWT_SECRET }}"
      YOUTUBE_API_KEY: "${{ secrets.YOUTUBE_API_KEY }}"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Install Playwright Browsers
        run: npx playwright install firefox --with-deps
      - name: Set up virtual display
        run: sudo apt-get update && sudo apt-get install -y xvfb
      - name: Run Playwright tests
        run: xvfb-run npx playwright test --headed
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
